<!-- acerca.component.html -->
<div class="background" xmlns="http://www.w3.org/1999/html"></div>

<div class="content">
  <h1>Acerca de Nosotros</h1>

  <div class="contact-container">
    <div class="rounded-box4">
      Bienvenido a <strong>NextHouse</strong>, tu aliado confiable en el mundo inmobiliario. Nuestra misión es facilitar el acceso a propiedades de calidad para alquiler o venta, proporcionando una experiencia excepcional a nuestros clientes. Con un enfoque en la satisfacción del cliente y el compromiso con la transparencia, nos esforzamos por hacer que cada transacción sea simple y sin complicaciones.
    </div>
  </div>

  <div class="container">
    <div class="container1">
      <div class="history1">Nuestra Historia</div>
      <div class="rounded-box1">
        Bienvenido a <strong>NextHouse</strong>, tu aliado confiable en el mundo inmobiliario. Nuestra misión es facilitar el acceso a propiedades de calidad para alquiler o venta, proporcionando una experiencia excepcional a nuestros clientes. Con un enfoque en la satisfacción del cliente y el compromiso con la transparencia, nos esforzamos por hacer que cada transacción sea simple y sin complicaciones.
      </div>
    </div>

    <div class="container2">
      <div class="history2">Lo Que Hacemos</div>
      <div class="rounded-box2">
        Ofrecemos una amplia variedad de propiedades que se adaptan a tus necesidades y presupuesto, desde acogedores departamentos hasta espaciosas casas familiares. Ya sea que busques un nuevo hogar o una inversión estratégica, estamos aquí para ayudarte a encontrar la propiedad perfecta.
      </div>
    </div>

    <div class="container3">
      <div class="history3">Nuestro Compromiso</div>
      <div class="rounded-box3">
        En <strong>NextHouse</strong>, creemos en construir relaciones sólidas y duraderas con nuestros clientes. Nos comprometemos a ofrecerte un servicio personalizado, atención al detalle y asesoramiento experto para que tomes decisiones informadas. Escuchamos tus necesidades y trabajamos incansablemente para cumplir con tus expectativas.
      </div>
    </div>
  </div>

  <h2>¿Por Qué Elegirnos?</h2>
  <div class="reasons-container">
    <div class="reason-box"><strong>Experiencia:</strong> Contamos con un equipo de expertos en bienes raíces con un profundo conocimiento del mercado local.</div>
    <div class="reason-box"><strong>Variedad de Propiedades:</strong> Disponemos de una amplia gama de opciones para satisfacer todas tus necesidades.</div>
    <div class="reason-box"><strong>Transparencia:</strong> Creemos en la honestidad y la claridad en todas nuestras transacciones.</div>
    <div class="reason-box"><strong>Atención Personalizada:</strong> Nuestro equipo está aquí para atenderte y guiarte en cada paso del camino.</div>
  </div>

  <h3>Contáctanos</h3>
  <div class="contact-container">
    <div class="rounded-box4">
      Te invitamos a explorar nuestro sitio web y descubrir las propiedades que tenemos disponibles. Si tienes preguntas o necesitas asistencia, no dudes en contactarnos. Estamos aquí para ayudarte a encontrar tu nuevo hogar.
    </div>
  </div>

  <h4>Equipo de Trabajo</h4>
  <div class="team-container">
    <div class="team-member">
      <img src="assets/images/kevin.png" alt="Kevin Abarca">
      <h2>Kevin Abarca Pacheco</h2>
      <p>U202118295</p>
      <p><strong>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</strong></p>
    </div>

    <div class="team-member">
      <img src="assets/images/janne.png" alt="Janne Bazan">
      <h2>Janne Bazan Zapata</h2>
      <p>U202122301</p>
      <p><strong>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</strong></p>
    </div>

    <div class="team-member">
      <img src="assets/images/aliaga.png" alt="Ilthon Aliaga">
      <h2>Ilthon Aliaga Campos</h2>
      <p>U202116480</p>
      <p><strong>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</strong></p>
    </div>

    <div class="team-member">
      <img src="assets/images/angel.png" alt="Angel Anaya">
      <h2>Angel Anaya Centeno</h2>
      <p>U202016264</p>
      <p><strong>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</strong></p>
    </div>

    <div class="team-member">
      <img src="assets/images/michael.png" alt="Michael Vásquez">
      <h2>Michael Vásquez León</h2>
      <p>U201923943</p>
      <p><strong>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</strong></p>
    </div>
  </div>


    <h5>About The Team</h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3QoVVvQsPnU" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 20px;"></iframe>


    <h6>EXPLICACIÓN BACKEND Y FRONTEND</h6>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Hos0-HmKd-o" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 20px;"></iframe>



  <h6><strong>NextHouse</strong> — Donde tus sueños inmobiliarios se hacen realidad.</h6>
</div>
