<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<footer>
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/images/facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="assets/images/instagram.png" alt="Instagram" />
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <img src="assets/images/youtube.png" alt="YouTube" />
      </a>
      <a href="https://www.x.com" target="_blank">
        <img src="assets/images/X.png" alt="X" />
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="assets/images/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://www.medium.com" target="_blank">
        <img src="assets/images/medium.png" alt="Medium" />
      </a>
    </div>

    <div class="footer-text"><strong>Copyright © 2024 NextHouse</strong></div>
    <div class="footer-text">Contacto:<strong> +51 981 587 009</strong></div>
    <div class="footer-text">Correo:<strong> nexthouse&#64;gmail.com</strong></div>

    <div class="legal-links">
      <a href="index.html"><strong>Información legal</strong></a> <span class="separator">|</span>
      <a href="index.html"><strong>Política de privacidad</strong></a>
    </div>
  </div>
</footer>
