<nav>
    <a [routerLink]="'/'"><i class="fas fa-home"></i> Home</a> |
    <a [routerLink]="'acerca'"><i class="fas fa-info-circle"></i> Acerca de Nosotros</a> |


    <div class="dropdown">
        <button class="dropdown-button">Registrar</button>
        <div class="dropdown-content">
            <a [routerLink]="'login'">Login</a>
            <a [routerLink]="'usuarios/nuevo'">Usuario</a>
            <a [routerLink]="'opciones-pago/nuevo'">Opción de Pago</a>
            <a [routerLink]="'mensajes/nuevo'">Mensaje</a>
            <a [routerLink]="'ubicaciones/nuevo'">Ubicación</a>
            <a [routerLink]="'reservas-alquilers/nuevo'">Reservas de Alquiler</a>
            <a [routerLink]="'propiedades/nuevo'">Propiedades</a>
            <a [routerLink]="'pagos/nuevo'">Pagos</a>
            <a [routerLink]="'comentarios/nuevo'">Comentarios</a>
        </div>
    </div>

  <div class="dropdown1">
    <button class="dropdown-button1">Reportes</button>
    <div class="dropdown-content1">
      <a [routerLink]="'reportes/opciones-pago-query1'">Filtro de opciones de pago</a>
      <a [routerLink]="'reportes/propiedad-query2'">Filtro de casas</a>
      <a [routerLink]="'reportes/propiedad-query4'">Filtrado de zonas geograficas</a>
    </div>
  </div>


    <!-- Botón condicional para Listado en la esquina superior derecha -->
    <button class="conditional-button" *ngIf="isOnNewOptionPage()" [routerLink]="'opciones-pago'">Listado de Opciones de Pago</button>
    <button class="conditional-button" *ngIf="isOnUserPage()" [routerLink]="'usuarios'">Listado de Usuarios</button>
    <button class="conditional-button" *ngIf="isOnMensajePage()" [routerLink]="'mensajes'">Listado de Mensaje</button>
    <button class="conditional-button" *ngIf="isOnUbicaiconPage()" [routerLink]="'ubicaciones'">Listado de Ubicación</button>
    <button class="conditional-button" *ngIf="isOnReservaAlquilerPage()" [routerLink]="'reservas-alquilers'">Listado de Reservas de Alquiler</button>
    <button class="conditional-button" *ngIf="isOnPropiedadPage()" [routerLink]="'propiedades'">Listado de Propiedades</button>
    <button class="conditional-button" *ngIf="isOnPagoPage()" [routerLink]="'pagos'">Listado de Pagos</button>
    <button class="conditional-button" *ngIf="isOnComentarioPage()" [routerLink]="'comentarios'">Listado de Comentaios</button>



</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
